/* Fontes Customizadas */

@font-face {
    font-family: "Delimiter";
    src: url("/fonts/Delimiter/Delimiter.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Chantal";
    src: url("/fonts/Chantal/chantal_light.ttf") format("truetype");
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: "Chantal";
    src: url("/fonts/Chantal/chantal_medium.ttf") format("truetype");
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: "Chantal";
    src: url("/fonts/Chantal/chantal_bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
}

/* Estilos Globais */

:root {
    --bg-color: #f5f5f5;
    --text-color: #000000;
    --active-color: #ffb800;

    --bg-color-very-light: #00000025;
    --text-color-very-light: #f5f5f525;

    --full-height: 100vh;
    --full-height: 100svh;
    --header-height: 4rem;
    --navbar-height: 6rem;
    --content-viewer-height: calc(100vh - var(--header-height) - var(--navbar-height));
    --content-viewer-height: calc(100svh - var(--header-height) - var(--navbar-height));
}

.dark-mode {
    --bg-color: #000000;
    --text-color: #f5f5f5;

    --active-color: #5200ff;

    --bg-color-very-light: #ffffff25;
}

html,
body,
#__next {
    min-height: var(--full-height);
    width: auto;
    background-color: var(--bg-color);
    color: var(--text-color);
    transition: background-color 0.5s ease-in-out;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 0.5rem;
    height: 0.5rem;
}

::-webkit-scrollbar-track {
    background-color: var(--bg-color-very-light);
    border-radius: 1rem;
}

::-webkit-scrollbar-thumb {
    background-color: var(--text-color);
    border-radius: 1rem;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: "Chantal", sans-serif;
}

p {
    font-size: 1.15rem;
    line-height: 1.8rem;
}

svg {
    fill: var(--text-color);
    width: 2rem;
    height: 2rem;
    flex-shrink: 0;
}

.Image {
    width: 100%;
    height: auto;
    object-fit: contain;
    max-width: 400px;
    max-height: 50vh;
}

.DetailImage {
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
    transition: all 0.5s ease-in-out;
}

.ImageSkeleton {
    width: 100%;
    max-width: 480px;
    aspect-ratio: 1/1;
    border-radius: 1rem;
    background-color: var(--bg-color-very-light);
    display: flex;
    align-items: center;
    justify-content: center;
}

.ImageSkeletonInner {
    width: 20px;
    height: 20px;
    background-color: var(--text-color);
    animation: pulse 1s infinite;
}

@keyframes pulse {
    0% {
        opacity: 0.5;
    }
    100% {
        opacity: 1;
        transform: scale(1.1);
    }
}

.ImageItem {
    display: flex;
    width: 100%;
    max-width: 800px;
    border-radius: 1rem;
}

.ImageList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 2rem;
}

.ImageGroup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.CartItem_Image {
    height: 100%;
    width: auto;
    object-fit: cover;
}

#__next {
    display: flex;
    flex-direction: column;
}

body.dark-mode {
    --bg-color: #000000;
    --text-color: #f5f5f5;
}

.InvertedImage {
    -webkit-filter: invert(100%); /* Safari/Chrome */
    filter: invert(100%);
}

a {
    color: var(--text-color);
}

.Nav_Button {
    min-width: 3rem;
    max-width: 10rem;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    padding: 0.25rem;
    gap: 0.5rem;

    border: none;
    border: 1px solid var(--text-color);
    background-color: var(--bg-color);
    color: var(--text-color);
    border-radius: 0;
    cursor: pointer;

    transition: background-color 0.5s ease-in-out;
}

.Menu_Button {
    border-radius: 0 0 0 1rem;
}

.Nav_Button.Active {
    background-color: var(--active-color);
}

.Lang_Btn {
    display: flex;
    gap: 0.5rem;
    align-items: center;
    padding: 0.5rem 1rem;

    margin-bottom: 1rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    border: 2px solid var(--text-color);
    border-radius: 1.5rem;
    height: 3rem;
}
.Lang_Btn svg {
    fill: var(--text-color);
}

.ShareButton {
    position: absolute;
    right: 0.5rem;
    top: 0.5rem;
    height: 3rem;
    width: 3rem;
    z-index: 5;
    border-radius: 50%;
}

.ThemeSwitch {
    position: absolute;
    left: 0.5rem;
    top: 0.5rem;
    height: 3rem;
    width: 3rem;
    z-index: 5;
    border-radius: 50%;
}

/* Content Viewer */

.ContentViewer_Wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    flex: 1;
}

.ContentViewer {
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: flex-start;

    max-width: 1000px;
    margin-inline: auto;

    max-height: var(--content-viewer-height);
    overflow-y: auto;

    padding: 1rem;
    padding-inline: 2.5rem;
    gap: 1rem;
}

.Project_ContentViewer {
    align-items: flex-start;
    padding-left: 3rem;
}

/* Menu */
.Menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    height: var(--full-height);
    gap: 1rem;

    outline: 1px solid var(--text-color);
    outline-offset: -1px;

    transition: background-color 0.5s ease-in-out;
    background-color: var(--text-color);
    padding-bottom: 6rem;
    padding-top: 0.5rem;
    padding-inline: 3rem;
}

.PageList {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    gap: 1rem;
    color: var(--bg-color);
    list-style: none;

    width: 100%;
    max-width: 19rem;

    margin-block: auto;
    overflow-y: auto;
    max-height: var(--content-viewer-height);
    padding-inline: 0.5rem;
}

.PageList::-webkit-scrollbar-thumb {
    background-color: var(--bg-color);
}

.PageList::-webkit-scrollbar-track {
    background-color: var(--text-color);
}

.MenuLink {
    color: var(--bg-color);
    font-size: 1.4rem;
    line-height: 1.6rem;
    text-align: center;
    text-decoration: none;

    width: 100%;
    max-width: 20rem;
    transition: font-size 0.2s ease-in-out;
    border-bottom: 0.25rem solid var(--bg-color);
    padding-bottom: 0.5rem;
}

.MenuLink:hover,
.MenuLink:focus-within {
    font-size: 2.4rem;
}

.SearchList {
    position: absolute;
    top: 6rem;
    left: 0;
    z-index: 2;
    height: var(--content-viewer-height);
    width: 100%;
    background-color: var(--bg-color);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 4rem;

    gap: 1rem;
}

.Project_Container,
.Product_Container {
    display: flex;
    flex-direction: column;
    width: 100%;

    gap: 0.5rem;
    padding: 1rem;

    border-radius: 1rem;
    outline: 1px solid var(--text-color);

    text-decoration: none;
    position: relative;
}

.Project_Container {
    position: relative;
    text-decoration: none;
}

.ProjectBgImage {
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
    filter: opacity(0.2);
}

.ProjectTitle,
.ProductTitle {
    font-size: 2.4rem;
    z-index: 1;
}

.ProjectSubtitle,
.ProductSubtitle {
    font-size: 1.2rem;
    line-height: 1.2rem;
    z-index: 1;

    letter-spacing: 0.05rem;
}

.ProjectDescription,
.ProductDescription {
    font-size: 1rem;
    line-height: 1.2rem;
    z-index: 1;
    letter-spacing: 0.1rem;
    font-family: sans-serif;
}

.Product_Container {
    width: 100%;
}

.Project_Page,
.Product_Page {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    gap: 1rem;
    padding: 1rem;
    padding-inline: 2.5rem;
    padding-left: 3rem;
    flex: 1;
    max-height: var(--content-viewer-height);
    width: 100%;
    overflow-y: auto;
}

.Product_Page_Header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 1rem;
    padding: 1rem;

    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: 1rem;
}

.Product_Buy_Info {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-between;
    gap: 1rem;
}

.Subproducts_Container_Wrapper {
    width: 100%;
    position: relative;
}

.Subproducts_Container_Fader {
    z-index: 1;
    width: 5rem;
    position: absolute;
    top: 0rem;
    right: -0.5rem;
    height: calc(100% - 0.5rem);
    background-image: linear-gradient(to right, transparent 0%, transparent 70%, var(--bg-color) 90%);
    pointer-events: none;
}

.Subproducts_Container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    overflow-x: auto;
    gap: 1rem;
    flex: 1;
    min-height: 200px;

    padding-bottom: 1rem;
    padding-inline: 0.75rem;
    flex-shrink: 0;
}

.Subproduct {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    border-radius: 1rem;

    width: 75%;
    min-width: 260px;
    height: 100%;
    aspect-ratio: 1/1;

    gap: 1rem;
}

.subproduct_image {
    object-fit: cover;
    border-radius: 1rem;
    width: 100%;
    aspect-ratio: 1/1;
    height: auto;
}

.subproduct_content {
    display: flex;
    flex-direction: column;
    flex: 2;
}

.subproduct_title {
    font-size: 2rem;
    z-index: 2;
}

.subproducts_classes_container_wrapper {
    position: relative;
    width: 100%;
}

.subproducts_classes_container {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
    z-index: 2;
    overflow-x: auto;
    flex-shrink: 0;
    padding-bottom: 1rem;
    width: 100%;
}

.subproducts_classes_container_fader {
    width: 5rem;
    position: absolute;
    top: 0rem;
    right: -0.5rem;
    height: calc(100% - 0.5rem);
    background-image: linear-gradient(to right, transparent 0%, transparent 80%, var(--bg-color) 90%);
    pointer-events: none;
}

.subproduct_class {
    padding: 0.25rem;
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: 1rem;
    font-size: 1.2rem;
    padding: 0.25rem 1rem;
}

.subproduct_class.active {
    background-color: var(--active-color);
}

.InfoButton {
    position: absolute;
    right: 0rem;
    top: 0rem;
    padding: 0.5rem;
    background-color: var(--text-color);
    color: var(--bg-color);
    border-radius: 1rem;
    width: 2.5rem;
    height: 2.5rem;
    border: 2px solid var(--bg-color);
    aspect-ratio: 1/1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.Product_Page_ContextButton {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    padding: 1rem 1rem;
    border-radius: 1rem;
    background-color: var(--text-color);
    color: var(--bg-color);
    border: none;
    transition: background-color 0.2s ease-in-out;
}

.CategoryList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;

    gap: 0.5rem;
    margin-block: 1rem;
    z-index: 1;
}

.CategoryItem {
    color: var(--bg-color);
    background-color: var(--text-color);
    padding: 0.5rem 1rem;
    font-size: 0.8rem;
    border-radius: 2rem;
}

.Inverted_CategoryItem {
    color: var(--text-color);
    background-color: var(--bg-color);
}

.ProductList {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    padding-left: 0.5rem;

    gap: 1rem;
    z-index: 1;
}

.Page_Card {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    border: 1px solid var(--text-color);
    padding: 1rem;
    border-radius: 1rem;
    margin-left: 0.5rem;
}

.Page_Card p {
    font-size: 0.95rem;
    line-height: 1.2rem;
}

.ServiceList {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    border: 1px solid var(--text-color);
    padding: 2rem;
    border-radius: 1rem;
    margin-left: 0.5rem;
}

.ServiceGroup {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.ServiceGroup_List {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.ServiceGroup_List > * {
    font-size: 0.9rem;
}

.ReferenceList {
    display: flex;
    flex-direction: column;

    padding: 1rem;
    gap: 1rem;
}

/* Header */
.Header {
    height: var(--header-height);
    display: flex;
    justify-content: center;
}

.Header_Center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-inline: 1rem;
}

.HeaderPageTitle {
    font-size: clamp(2rem, 2vw, 2rem);
}

.MenuHeader {
    color: var(--bg-color);
}

.SearchBar {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    outline-offset: -2px;
    outline: 1px solid var(--bg-color);
    border-radius: 1.5rem;
    padding-left: 0.5rem;
    width: 100%;
    max-width: 15rem;
    height: 3rem;
}

.SearchBar > svg {
    width: 2rem;
    height: 2rem;
    fill: var(--bg-color);
}

.SearchBar_Input {
    padding: 1rem;
    background-color: var(--bg-color);
    color: var(--text-color);
    outline: 1px solid var(--bg-color);
    outline-offset: -1px;
    border-radius: 1.5rem;
    width: 100%;
}

.HeaderButton {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color);
    border: none;
    border: 1px solid var(--text-color);
    transition: background-color 0.2s ease-in-out;
    padding: 0.25rem;
}

/* Navbar */

.Navbar {
    height: var(--navbar-height);
    display: flex;
    justify-content: space-between;
    z-index: 3;
    background-color: var(--bg-color);
    transition: background-color 0.5s ease-in-out;
    overflow-x: hidden;
    border-radius: 2rem 2rem 0 0;
    outline: 1px solid var(--text-color);
}

.Navbar_Center,
.Navbar_Left,
.Navbar_Right {
    display: flex;
    flex-direction: column;
}

.Navbar_Center {
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-inline: 1rem;
    height: 100%;
}

.BrandName {
    font-family: "Delimiter", sans-serif;
    font-size: 2rem;
    text-decoration: none;
    font-weight: 800;
}

.Navbar_Left button,
.Navbar_Right button {
    height: 100%;
}

.NavigationIndicator {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 0.75rem;
    height: 1rem;
    overflow: hidden;
}

.NavigationCircle {
    width: 0.3rem;
    height: 0.3rem;
    border-radius: 50%;
    background-color: gray;
    transition: background-color 0.2s ease-in-out, width 0.2s ease-in-out, height 0.2s ease-in-out;
}

.NavigationCircle.Active {
    width: 0.5rem;
    height: 0.5rem;
    background-color: var(--text-color);
}

.PageName {
    font-family: "Delimiter";
    font-size: 2rem;
}

/* Shopping Bag */
.CartButton {
    position: relative;
    border-radius: 0 0 1rem 0;
}

.CartTotalItems {
    position: absolute;
    top: 0;
}

.ShoppingBag {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    background-color: var(--text-color);
    color: var(--bg-color);
    height: var(--full-height);
    width: 100%;
    padding-bottom: 7rem;
    padding-top: 0;
    padding-inline: 3rem;
    display: flex;
    flex-direction: column;
}

.BagHeader {
    text-align: center;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 1rem;
    font-size: 1rem;
}

.EmptyCartTitle {
    margin-block: auto;
    text-align: center;
}

.BagList {
    margin-block: 1rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 1rem;
    width: 100%;
    flex: 1;
    overflow-y: auto;
    padding-inline: 0.5rem;
}

.BagList::-webkit-scrollbar-thumb {
    background-color: var(--bg-color);
}

.BagList::-webkit-scrollbar-track {
    background-color: var(--text-color-very-light);
}

.BagItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 1rem;
    width: 100%;
    position: relative;
    padding-right: 0.5rem;
    background-color: var(--bg-color);
    border-radius: 1rem;
}

.Bag_Item_Left {
    display: flex;
    align-items: center;
    justify-content: center;
    max-height: 10rem;
    height: 100%;
    border-radius: 1rem;
    outline: 3px solid var(--text-color);
    outline-offset: -2px;
    overflow: hidden;
}

.Bag_Item_Right {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    flex: 1;
    color: var(--text-color);
    margin: 0.5rem;
}

.Bag_Item_Name {
    font-size: 1.4rem;
    font-weight: 800;
}

.BagItemFooter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 0.5rem;
}

.QttySelector {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 0.5rem;
    border-radius: 2rem;
    gap: 0.5rem;
    font-size: 1.6rem;
    background-color: var(--text-color);
    color: var(--bg-color);
    width: 100%;
    max-width: 6rem;
}

.RemoveBtn {
    bottom: 0.5rem;
    right: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    border: 2px solid var(--text-color);
    font-size: 1.6rem;
}

.BagFooter {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
}

.BagTotal {
    color: var(--bg-color);
    background-color: transparent;
}

.CartHelper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 4rem;
    padding-bottom: 7rem;
    padding-inline: 3rem;
    z-index: 2;
    background-color: var(--text-color);
    color: var(--bg-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;
}

.CartHelperCloseBtn {
    margin-top: 1rem;
    padding: 1rem;
    border: none;
    border-radius: 1.5rem;
}

.CheckoutBtn {
    background-color: var(--text-color);
    color: var(--bg-color);
    border: 2px solid var(--bg-color);
    padding: 0.5rem 1rem;
    text-align: center;
    text-decoration: none;
    line-height: 1.1rem;
}

.CheckoutHelpBtn {
    background-color: var(--bg-color);
    color: var(--text-color);
    padding: 0.5rem;
    border-radius: 1.5rem;
    background-color: var(--text-color);
    color: var(--bg-color);
    text-align: center;
    text-decoration: none;
}

.CheckoutBtn.Disabled {
}

.CheckoutActionButton {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--active-color);
    color: var(--bg-color);
    border-radius: 1.5rem;
    height: 3rem;
}

.AddToCartButton {
    position: absolute;
    bottom: 0rem;
    left: 0rem;
    padding: 1rem;
    border-radius: 1rem;
    border: 2px solid var(--bg-color);
    background-color: var(--text-color);
    color: var(--bg-color);
}

.ButtonLabel {
    font-size: 1rem;
    line-height: 1.1rem;
    width: 100%;
    color: var(--text-color);
}

.Active {
    background-color: var(--active-color);
}

@media (max-width: 900px) {
    .DesktopOnly {
        display: none;
    }

    .ButtonLabel {
        display: none;
    }

    .ButtonLabel {
        font-size: 0.75rem;
    }

    .Nav_Button {
        max-width: 8rem;
        font-size: 0.75rem;
    }

    .HeaderPageTitle {
        font-size: clamp(1.5rem, 3vw, 1.75rem);
        width: 100%;
        max-width: 18rem;
    }
}
